.main-gallery {
  background: url("../../images/footer-bg.png");
}

.testimonial-headline {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 2% 0 !important;
}
.gallery-cell {
  width: 100%;
}

.testimonial {
  text-align: center;
  max-width: 850px;
  margin: 0px auto 130px auto;
  padding: 0 20px;
}

.testimonial-avatar {
  width: 100px;
  border-radius: 50%;
}

.testimonial-quote {
  display: block;
  font-size: 1.6rem;
  padding: 10px 0;
  color: #fff;
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: 100 !important;
}

.testimonial-author {
  display: block;
  font-weight: 800;
  color: $brand-gold;
  font-family: "Crimson Text", serif;
  -webkit-font-smoothing: anti-aliased;
}

.flickity-page-dots {
  bottom: 25px;
}

.flickity-page-dots .dot {
  background: #aaa;
}

.flickity-page-dots .dot.is-selected {
  background: $brand-gold;
}
