/* Alumni Corner */

.feautred-alumni {
  padding: 2rem 0 4rem 0 !important;
  display: inline-block;
  vertical-align: middle;
  h1 {
    padding: 1% 0;
  }
}

.alumni-unit {
  opacity: 0.5;
  transition: 0.2s all ease-in;
  &:hover {
    transform: 0.2s all ease-in;
    opacity: 1;
    cursor: pointer;
  }
}

.alumni-thumbnail {
  img {
    border-radius: 50%;
    float: left;
    padding-right: 20px;
  }
}

.alumni-name {
  color: white;
  font-family: "Crimson Text", serif;
  font-style: italic;
  opacity: 0.8;
  padding-top: 45px;
}

.alumni-part {
  color: white;
  font-family: "Crimson Text", serif;
  font-style: italic;
  opacity: 0.5;
  margin-top: -5px;
}

.alumni-unit-box {
  background: $brand-dark-blue;
  padding: 0;
  border-radius: .5rem;

  img {
    border-radius: .5rem .5rem 0 0;
  }

  h4 {
    color: #fff;
    padding-top: .5rem;
  }

  p {
    color: #fff;
    opacity: 0.5;
    margin-top: -1rem;
  }

}
