/* General Content Styles */

.general-content-left {
	padding: 3rem 0;
	h1 {
		color: $brand-gold;
		font-size:  2rem;
	}
}

.content {
	overflow: hidden;
	height: inherit;
}

.important-link-new {
	text-transform: uppercase;
	font-family: 'Arial', sans-serif;
	font-weight: 300;
	font-size: .8rem;
	color: $brand-red;
}

.sidebar-left {
	i {
		color: #777;
	}

	span {
		font-family: "Crimson Text", serif;
	}

	a {
		color: #777;
		&:hover > i {
			color: $brand-red;
		}

		&:hover {
			color: $brand-red;
		}
	}
}


@media #{$medium-only} {
	.content {
		padding: 3rem 0 !important;
	}
}
