/* General Content Styles */

.general-content-left {
	padding: 3rem 0;
	h1 {
		color: $brand-gold;
		font-size:  2rem;
	}
}

.content {
	overflow: hidden;
	height: inherit;
}


@media #{$medium-only} { 
	.content {
		padding: 3rem 0 !important;
	}
}
