.info-section {
  margin: 5% 0;

  h1 {
    color: $brand-gold;
    line-height: 1.5rem;
    font-size: 1.6875rem;
  }
  h5 {
    margin-bottom: 2rem;
  }
}

.book-us-cta {
  background: url("../images/full-width-module-1.jpg");
  background-position: center;
  width: 100%;
  height: 75%;
}

.book-us-cta {
  padding: 10% 0;
  h1 {
    color: white;
    line-height: 3rem;
  }
}

.home-widget-left {
  background: url("../images/alumni-corner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.4s all ease-in;
  .black-bg {
      background: rgba(0,0,0,0.6);
      width: 100%;
      min-height: 400px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 100;
  }
}

.home-widget-right {
  background: url("../images/concert-2.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.4s all ease-in;
  .black-bg {
      background: rgba(0,0,0,0.6);
      width: 100%;
      min-height: 400px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 100;
  }
}

.home-widget-right, .home-widget-left {
  h1 {
    position: relative;
    color: white;
    margin: 0 auto;
  }

  &:hover > .black-bg {
    background: rgba(0,0,0,0);
    transition: 0.2s all ease-in-out;
    cursor: pointer;
  }
}

.event-unit {
  position: relative;
  button {
      position: absolute;
      top: 55%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
}

.upcoming-events-headline {
  color: $brand-gold;
  padding: 2rem 0;
}

.upcoming-events-home {
  .black-bg {
      background: rgba(0,0,0,0.6);
      width: 100%;
      min-height: 300px;
      position: relative;
      z-index: 100;
  }

  .calendar-event-bg {
    min-height: 300px;
    position: relative;

    .black-bg {
      background: rgba(0,0,0,0.6);
      min-height: 300px;
      position: relative;
      transition: 0.2s all ease-in-out;

      &:hover {
        background: rgba(0,0,0,0);
        transition: 0.2s all ease-in-out;
        cursor: pointer;
      }
    }

    .event-info {
      position: absolute;
      bottom: 5px;
      z-index:80;
      padding: 2rem;

      h2 {
      color: #fff;
      font-size: 1.5rem;
      font-weight: 900;
      margin-bottom: -10px;
      }

      span {
        font-size: .8rem;
        color: #fff;
      }

      .event-category {
        margin-bottom: 1rem;
      }
    }


  }
}

.season-sponsors {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  padding: 60px 0;
  background: #fcfcfc;

  h1 {
    color: $brand-gold;
    padding-bottom: 3rem;
    font-size: 1.8rem;
  }

  a {
    margin: 0 20px;
    display: inline-block;
    pointer-events: none;

    img {
      display: inline-block;
      vertical-align: middle;
      height: 45px;
      max-width: 100%;
      opacity: 0.4;
      padding: .1rem;
    }
  }
}
