.info-section {
  margin: 5% 0;

  h1 {
    color: $brand-gold;
    line-height: 1.5rem;
    font-size: 1.6875rem;
  }
  h5 {
    margin-bottom: 2rem;
  }
}

.book-us-cta {
  background: url("../images/full-width-module-1.jpg");
  background-position: center;
  width: 100%;
  height: 75%;
}

.book-us-cta {
  padding: 10% 0;
  h1 {
    color: white;
    line-height: 3rem;
  }
}

.home-widget-left {
  background: url("../images/alumni-corner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.4s all ease-in;
}

.home-widget-left:hover, .home-widget-right:hover {
  opacity: 0.8;
  transition: 0.4s all ease-in;
  cursor: pointer;
}

.home-widget-right {
  background: url("../images/concert-2.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.4s all ease-in;
}

.home-widget-right, .home-widget-left {
  h1 {
    color: white;
    margin: 0 auto;
  }
}

.event-unit {
  position: relative;
  button {
      position: absolute;
      top: 55%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
}

.season-sponsors {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  padding: 60px 0;
  background: #fcfcfc;

  h1 {
    color: $brand-gold;
    padding-bottom: 3rem;
    font-size: 1.8rem;
  }

  a {
    margin: 0 20px;
    display: inline-block;
    pointer-events: none;

    img {
      display: inline-block;
      vertical-align: middle;
      height: 45px;
      max-width: 100%;
      opacity: 0.4;
      padding: .1rem;
    }
  }
}


