.blue-bg {
  background: url("../images/footer-bg.png");
  background-size: cover;
  width: 100%;
  h1 {
    color: $brand-gold;
    font-size: 1.8rem;
    padding: 5% 0;
  }
  h5 {
    color: white;
    padding-bottom: 5%;
  }
  ul {
    list-style: none;
    li {
      color: white;
      opacity: 0.5;
      font-family: "Crimson Text", serif;
    }
  }
}

.quote {
  color: white;
  font-style: italic;
  font-weight: 200;
}

.quote-person {
  color: white;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 10%;
}

.travel-map {
  background: url("../images/world-map.jpg");
  background-position: center;
  height: 910px;


  h1, h2 {
    color: #fff;
  }

  h1 {
    padding-top: 25rem;
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  button {
    background: none;
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 1rem 4rem;
    margin-top: 2rem;
    transition: 0.2s all ease-in;


    &:hover {
      background: #fff;
      transiton: 0.2s all ease-in;
      color: $brand-dark-blue;
    }
  }
}
