.season-sponsorship {
	h1 {
		color: $brand-gold;
		font-size: 2rem;
	}
}

.sponsorship-unit {
	background: #eee;
	margin: 3rem 1.8rem;
	border-radius: 1rem;

	h1 {
		color: $brand-dark-blue
	}
}

.level-amount {
	color: white;
	font-size: 2rem;
	font-family: "Crimson Text", serif;
	padding: 1rem 0;
	background: $brand-gold;
	border-radius: 1rem 1rem 0 0;
}

.level-list {
	margin-left: 0;
	padding: 0 1rem;
	li {
		font-size: 0.7rem;
		color: #222 !important;
	}
}