.season-sponsorship {
	margin-bottom: 8rem;
	h1 {
		color: $brand-gold;
		font-size: 2rem;
	}
}

.sponsorship-unit {
	background: #eee;
	margin: 0 .1rem 8rem .1rem;
	border-radius: 1rem;

	h1 {
		color: $brand-dark-blue
	}
}

.season-sponsor-section-title {
	font-size: 2.3rem !important;
	color: #fff !important;
}

.level-amount {
	color: white;
	font-size: 2rem;
	font-family: "Crimson Text", serif;
	padding: 1rem 0;
	background: $brand-gold;
	border-radius: 1rem 1rem 0 0;
}

.level-list {
	margin-left: 0;
	padding: 0 1rem;
	li {
		font-size: 0.7rem;
		color: #222 !important;
	}
}

.sponsor-button {
	background: $brand-red;
	border-radius: .5rem;
	position: absolute;
	bottom: 15px;
	right: 20%;
	padding: .8rem 1.8rem;
	
	&:hover {
		background: $brand-blue;
	}
}

.encore-sponsor {
	height: 570px;
}

.standing-ovation-sponsor, .applause-sponsor {
	height: 525px;
	position: relative;
}

.kudos-sponsor, .accolades-sponsor {
	height: 420px;
	position: relative;
}