/* Presenters Styles */

.wedding-song-list {
  margin-right: 8%;
  ul {
    list-style: none;
  }

  ul::after {
    content: url("../../images/play-icon.png");
  }

  li {
    color: #222;
    font-family: "Crimson Text", serif;
  }
}
