/* Presenters Styles */

.wedding-song-list {

  ul {
    list-style: none;
  }

  li {
    background-image: url("../../images/play-icon.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 15px;
  }
}
